t {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: underline;
}

.youtube-video {
  width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  .youtube-video {
    width: 100%;
    height: 270px;
  }
}